.page-header {
    padding-block: var(--s-3);

    &__container {
        display: grid;
        grid-template-columns: 1fr max-content;
    }

    &__socials {
        display: flex;
        gap: var(--s-2);
        align-items: center;

        svg {
            display: block;
        }
    }
}