.section-header {
  &__anchor-link {
    &::before {
      content: '#';
      display: inline-block;
      font-size: 0.7em;
      line-height: 1;
      margin-left: -0.8em;
      width: 0.8em;
      visibility: hidden;
    }
  }

  @include md-hover {
    &:hover &__anchor-link::before {
      visibility: visible;
    }

    &:hover &__anchor-link {
      text-decoration: underline;
    }
  }
}
