* {
    margin: 0;
    padding: 0;

    border: 0;

    -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    //text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    pointer-events: all;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
}

legend {
    float: left;
    display: table;

    width: 100%;
    margin: 0;
    padding: 0;

    +* {
        clear: both;
    }
}

address {
    font-style: normal;
}
