---
import Icon from '../Icon.astro'
---

<div
  role="dialog"
  aria-modal="true"
  id="burger-popup"
  aria-hidden="true"
  class="popup"
  aria-labelledby="popup-title"
>
  <div class="popup__inner">
    <h2 id="popup-title" class="popup__title visually-hidden">Основное меню</h2>
    <div class="popup__wrapper">
      <div class="popup__header">
        <button data-popup-close type="button" class="popup__close">
          <span>Close</span>
        </button>
      </div>
      <div class="popup__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, dolorum fugiat sed quasi
        placeat eligendi. Accusantium amet obcaecati vel quam quisquam. Officia expedita libero
        aliquid doloribus, voluptatem, vitae deserunt nam amet sit aut, fugit officiis in atque
        maiores cumque exercitationem vel magnam inventore dolorum ea. Minima laudantium iste facere
        inventore aliquam at tenetur cupiditate ullam eos esse a, odit iusto eveniet maiores
        explicabo culpa, saepe ex dolores earum mollitia necessitatibus et! Sit sint deleniti quasi
        cumque aliquid, amet a quaerat corporis commodi. Labore aperiam iste atque dolorum! Ratione
        vero sapiente voluptatum temporibus eveniet nam adipisci, laborum illo saepe quod enim esse,
        et asperiores nesciunt illum, quis in recusandae dignissimos porro fugit molestiae ipsa! Ad
        ipsa quaerat ratione alias veritatis dolores facilis, aspernatur provident blanditiis
        similique sequi dignissimos neque vel corporis tempore, consequuntur earum suscipit
        molestias in nulla velit magnam quisquam saepe. Corporis voluptatibus sunt voluptate
        inventore ab quisquam ad molestiae obcaecati quia natus explicabo praesentium mollitia iste
        harum alias deserunt, nostrum veniam. Ad qui sint maiores ipsam dolorum distinctio quam
        debitis nulla. Obcaecati cumque laboriosam iure natus veritatis deserunt, id ipsa atque
        voluptas nihil neque consequatur quibusdam sed quae quasi voluptates! Vel labore natus
        dolorum dolor esse in ratione repellat vero obcaecati quos, similique inventore, voluptatem
        quisquam fugiat ab ipsam cupiditate harum ad, explicabo laudantium quaerat veritatis minus.
        Eaque expedita a illo, molestiae temporibus vitae dignissimos rem unde hic dolore. Qui hic
        error ut? Voluptate dignissimos reprehenderit corporis. Ullam velit nulla tempore expedita
        deserunt repellat aliquid, corporis magnam quaerat voluptatum maxime eaque quas rerum quos
        earum, odit illo perspiciatis? Illo et maxime, dignissimos explicabo, soluta cum accusamus
        facere officia vel nam atque incidunt labore dolore illum, aliquid similique quibusdam
        voluptatibus tempora non consequatur! Quo possimus rerum harum reprehenderit, aspernatur,
        consectetur obcaecati quos et quod blanditiis tempore nam deserunt ducimus nemo sapiente
        corrupti. Distinctio quas similique officia non explicabo nisi, sit consectetur eos
        voluptatibus itaque velit veniam nemo earum, cupiditate voluptates adipisci numquam unde
        ullam minus assumenda. Sint, porro quibusdam aliquid, asperiores voluptatibus officiis est
        voluptate nemo minima corporis libero. Hic optio eaque minima voluptate molestias facere ut
        illum quos fugiat animi. Doloribus cumque voluptate incidunt ab dolorum eius nam magnam
        accusantium quam sapiente pariatur quis blanditiis dolore aut odit cum nostrum reiciendis
        ducimus, harum praesentium? Vero earum quidem eum in sed unde id, eius reprehenderit atque
        aspernatur facere, deserunt deleniti excepturi pariatur iure fugit tempora esse perspiciatis
        eligendi illo ducimus magnam. Voluptas non commodi quam inventore ab dolore unde quis.
        Provident, quae est dignissimos quod quis quas cum explicabo? Asperiores sunt, tenetur
        deleniti voluptatibus accusantium illo odit corporis a tempora suscipit neque voluptate!
        Quibusdam architecto animi aspernatur. Aut iste quod explicabo quam quidem! Molestias
        placeat distinctio aliquam ratione. Vel culpa praesentium distinctio a accusamus sint
        expedita eius, ipsa ducimus, labore recusandae ipsam asperiores nisi nemo. Possimus
        doloremque blanditiis numquam aut labore fuga tenetur molestias. Itaque praesentium tenetur
        doloremque officia quibusdam? Laudantium culpa minus ducimus, quia dignissimos officia
        cupiditate consectetur nemo omnis libero natus eligendi voluptatum maiores ea. Suscipit ipsa
        necessitatibus voluptatum iusto enim aperiam nobis nostrum inventore, alias minus cupiditate
        excepturi reiciendis quis, magni assumenda voluptatibus commodi deleniti reprehenderit
        minima corporis? Reiciendis corporis ipsum eligendi sunt officiis tenetur provident aut
        facilis dolorum esse iure, quae quasi incidunt voluptatem laboriosam minus commodi,
        cupiditate deleniti nisi earum in, nam quidem. Dolorem maxime corrupti repellendus fuga
        nobis ullam unde! Atque deserunt modi cupiditate quo, voluptate quam minus ad voluptatem
        deleniti temporibus iste explicabo aliquam sunt neque eligendi, doloribus sit consequuntur!
        Et maiores illo rerum voluptatibus necessitatibus iure corrupti minus fugit. Commodi neque
        eius animi fuga, alias mollitia ipsam similique culpa, cupiditate est dolore, illum
        repellendus explicabo atque. Animi debitis illo voluptates ipsa consectetur, eveniet sunt et
        pariatur aperiam reiciendis aliquid, dolore dolor maxime dolorem officiis! Doloremque optio
        illo adipisci esse dolorem, odit iste facilis, nisi possimus error quo hic consequatur
        quisquam tenetur velit quis dolores voluptas libero animi quidem excepturi? Quae qui eveniet
        maiores nesciunt sapiente vel at, amet non? Odio suscipit mollitia magnam vel, quidem,
        consectetur at consequuntur accusamus ab aspernatur ullam distinctio saepe facilis fuga ipsa
        minus praesentium incidunt. Itaque hic tempora possimus dolores tenetur quisquam, magni
        labore nesciunt beatae accusamus voluptate. Molestiae eveniet vitae sed quam? Veritatis, a
        soluta autem numquam officia consectetur repudiandae provident totam, ut maiores, error quae
        doloribus exercitationem? Similique, amet iste? Esse libero accusamus, neque explicabo ab
        est distinctio quae quisquam architecto provident minus debitis repellendus accusantium
        culpa dolores dicta deserunt assumenda rem quos possimus fuga id dignissimos dolore. Cum
        nihil consequuntur repellat porro! Quidem earum tempore magni, corrupti, natus magnam
        voluptatem illo dignissimos odio doloribus dolor quasi! Quo ut repellat, harum quam
        cupiditate minima consectetur illum neque unde sunt? Neque fugiat quasi ut veritatis,
        adipisci nulla mollitia maxime perferendis distinctio molestias quos et earum ducimus
        dignissimos fuga non minima culpa labore iure dicta. Fugit vel eos beatae praesentium animi
        alias rem voluptate culpa laborum asperiores, maiores ea eaque natus quod sint aspernatur
        ratione nihil voluptatum quasi. Temporibus veritatis aliquid voluptates nisi tempora ex,
        inventore quam assumenda enim! Laborum doloremque officia placeat tenetur, natus aliquid ut
        sed aperiam maiores incidunt illum magnam rerum, explicabo eligendi saepe minus veritatis
        illo. Facilis odit nostrum deleniti repellendus! Aperiam pariatur quaerat ex sit adipisci
        eum eaque est sunt neque blanditiis fugiat ut, natus minus reprehenderit facere dolorum
        alias perferendis excepturi et provident? Ab, a repudiandae molestiae sapiente alias quidem
        harum minus, dolore, voluptas porro eligendi sit explicabo impedit corporis recusandae saepe
        officiis quis nostrum facilis illo totam eos quaerat omnis. Fugit facilis distinctio,
        tempora unde est rem fuga. Tempore suscipit, nemo voluptatem quae nam nihil consequatur
        officia asperiores sint recusandae incidunt doloribus quisquam delectus veniam beatae
        possimus optio illo at quam amet fuga magnam tenetur nobis sunt. Eveniet quasi odit deserunt
        voluptate neque? Repellendus beatae voluptas quis dolores asperiores! Animi, quis quia
        nostrum sint ad neque aliquid assumenda laudantium adipisci nisi nam vero tenetur esse,
        magnam unde voluptates exercitationem modi illo officia veniam voluptas nemo deleniti!
        Repellat dolores aperiam voluptatibus, quo repudiandae eos pariatur, maiores maxime corrupti
        reprehenderit quis! Inventore!
      </div>
      <div class="popup__footer"></div>
    </div>
  </div>
</div>
