.portfolio-section {
    &__portfolios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--s-4);
        margin-top: var(--s-5);
    }

    @media (max-width: $bp-laptop) {
        &__portfolios {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: $bp-mobile-large) {
        &__portfolios {
            grid-template-columns: repeat(2, 1fr);
            gap: var(--s-2);
        }
    }

    @media (max-width: $bp-mobile-small) {
        &__portfolios {
            grid-template-columns: 1fr;
            gap: var(--s-4);
        }
    }
}