@import "./portfolio-section";
@import "./about-section";
@import "./hero-section";

.main-content {
    --default-margin: var(--s-14);
    --default-margin-bottom: var(--s-14);

    > :is(.section) {
        margin-top: var(--margin, var(--default-margin));

        &:first-child {
            --default-margin: var(--s-10);
        }
    }

    > :is(.section):last-child {
        margin-bottom: var(--margin-bottom, var(--default-margin-bottom));
    }

    @media (max-width: $bp-tablet) {
        --default-margin: var(--s-10);
        --default-margin-bottom: var(--s-10);
    }

    @media (max-width: $bp-mobile-medium) {
        --default-margin: var(--s-5);
        --default-margin-bottom: var(--s-5);
    }
}