@use 'sass:math';
@import 'mixins/mixins';

// SCSS variables
$bp-mobile-small: 30em; // 480px;
$bp-mobile-medium: 40em; // 640px;
$bp-mobile-large: 48em; // 758px;
$bp-tablet: 62em; // 992px;
$bp-laptop: 64em; // 1024px;
$bp-pc: 80em; // 1280px;
$bp-container: 90rem; // 1440px;

@import 'layers/normalize';
@import 'layers/variables';
@import 'layers/defaults';
@import 'layers/libraries';
@import 'layers/components';
@import 'layers/layout';
@import 'layers/content-blocks';
@import 'layers/utilities';
