@use "sass:math";

@import "mixins/mixins";

@layer normolize,
variables,
defaults,
framework,
components,
utilities,
overrides;

// SCSS varibles
$bp-mobile-small: 30em; // 480px;
$bp-mobile-medium: 40em; // 640px;
$bp-mobile-large: 48em; // 758px;
$bp-tablet: 62em; // 992px;
$bp-laptop: 64em; // 1024px;
$bp-pc: 80em; // 1280px;

@import 'https://fonts.googleapis.com/css2?family=Inter&display=swap';

@layer normolize {
    @import "layers/normolize";
}

@layer variables {
    @import "layers/variables";
}

@layer defaults {
    @import "layers/defaults";
}

@layer components {
    @import "layers/components";
}