.flex-group {
  --row-gap: var(--s-2);

  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap);
  align-items: center;

  max-width: fit-content;

  & > * {
    flex: 1;
    min-width: fit-content;
  }
}
