.grid-auto-fit {
  --min-column-width: 16rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-width), 100%), 1fr));
  gap: var(--grid-gap, var(--s-2));
}

.grid-auto-fill {
  --min-column-width: 16rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--min-column-width), 100%), 1fr));
  gap: var(--grid-gap, var(--s-2));
}

