---
import Icon from '@/components/Icon.astro'
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import Accordion from '@/components/ui/accordion/Accordion.astro'
import Button from '@/components/ui/Buttons/Button.astro'
---

<Layout title="Welcome to my Template.">
  <main class="page__main-content main-content">
    <h1 class="sr-only">Markup template</h1>
    <div class="main-content__sections-wrapper sections-wrapper">
      <section id="popup-section" class="section">
        <div class="section__container container">
          <header class="section__header section-header text-h2">
            <h2 class="section-header__title">Popup</h2>
          </header>
          <div class="section__content content">
            <Button aria-haspopup="true" aria-controls="burger-popup">Open popup</Button>
          </div>
        </div>
      </section>

      <section id="accordion-section" class="section">
        <div class="section__container container">
          <header class="section__header section-header text-h2">
            <h2 class="section-header__title">Accordion</h2>
          </header>
          <div class="section__content content">
            <Accordion isOpen={true}>
              <Fragment slot="header">accordion 1</Fragment>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero laborum nihil nisi, illo sapiente quod odit facilis
                repudiandae ratione quis et asperiores sit repellendus sunt soluta, dicta sint. Praesentium.
              </p>
            </Accordion>
            <Accordion>
              <Fragment slot="header">accordion 2</Fragment>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero laborum nihil nisi, illo sapiente quod odit facilis
                repudiandae ratione quis et asperiores sit repellendus sunt soluta, dicta sint. Praesentium.
              </p>
            </Accordion>
          </div>
        </div>
      </section>

      <section id="tabs-section" class="section">
        <div class="section__container container">
          <div class="section__header section-header text-h2">
            <h2 class="section-header__title">Tabs</h2>
          </div>
          <div class="section__content content">
            <div class="tabs">
              <div role="tablist">
                <div
                  role="tab"
                  aria-selected="true"
                  aria-controls="tab-about-page-panel-0"
                  id="about-page-tab-0"
                  class="text-h2 uppercase swiper-slide swiper-slide-active"
                  tabindex="0">
                  Tab 1
                </div>
                <div
                  role="tab"
                  aria-selected="false"
                  aria-controls="tab-about-page-panel-1"
                  id="about-page-tab-1"
                  class="text-h2 uppercase swiper-slide swiper-slide-next"
                  tabindex="0">
                  Tab 2
                </div>
                <div
                  role="tab"
                  aria-selected="false"
                  aria-controls="tab-about-page-panel-2"
                  id="about-page-tab-2"
                  class="text-h2 uppercase swiper-slide"
                  tabindex="0">
                  Tab 3
                </div>
              </div>
              <hr class="tabs__hr" />
              <div id="tab-about-page-panel-0" role="tabpanel" tabindex="0" aria-labelledby="about-page-tab-0" aria-hidden="false">
                <div class="tabs-section__tab-content content">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae illo provident cumque et minus facere odit sed! Enim dolores,
                    soluta voluptatibus, iusto at non dicta neque vel, nihil sapiente necessitatibus.
                  </p>
                </div>
              </div>
              <div id="tab-about-page-panel-1" role="tabpanel" tabindex="0" aria-labelledby="about-page-tab-1" aria-hidden="true">
                <div class="tabs-section__tab-content content">
                  <p>
                    2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe numquam ipsam praesentium laboriosam hic suscipit, impedit fugiat
                    nulla quas molestiae officiis voluptatibus, sunt eum? Reprehenderit ut repudiandae harum ipsum cumque?
                  </p>
                </div>
              </div>
              <div id="tab-about-page-panel-2" role="tabpanel" tabindex="0" aria-labelledby="about-page-tab-2" aria-hidden="true">
                <div class="tabs-section__tab-content content">
                  3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, illo reiciendis! Sunt saepe molestias delectus consequuntur,
                  deleniti amet ipsam aut dolores, quo repudiandae necessitatibus et quas omnis, cupiditate porro optio.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="section__container container-grid">
          <div class="container-grid__bg-block" style="background-color: red;"></div>
          <div class="container-grid__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quas tempore commodi, accusamus quo quis quod beatae quos quibusdam aut, ab
            maxime atque sunt maiores facere ipsam amet, a doloremque.
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
