---
import Icon from '@/components/Icon.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to my Template.">
  <div class="page__container">
    <aside class="page__sidebar page-sidebar">
      <nav class="page-sidebar__nav" aria-label="Primary navigation">
        <details class="page-sidebar__list spoiler">
          <summary class="spoiler__header">
            Css
            <Icon icon="arrow" />
          </summary>
          <div class="spoiler__content">
            <ul class="sidebar-list">
              <li class="sidebar-list__link-wrapper">
                <a href="/styles-articlest" class="sidebar-list__link">Styles</a>
              </li>
            </ul>
          </div>
        </details>
      </nav>
    </aside>
    <main class="page__main-content">
      <article class="main-content__article main-content" id="styles-article">
        <header class="main-content__header">
          <h1 class="main-content__title text-h1">test</h1>
        </header>
        <div class="main-content__sections-wrapper">
          <section class="main-content__section section">
            <div class="section__header section-header text-h2">
              <h2 class="section-header__title">
                <a class="section-header__anchor-link" href="#">Layouts</a>
              </h2>
            </div>
            <div class="section__content content">
              <h3>some text</h3>
              <p>
                some Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis voluptates
                tenetur explicabo ab dolores officiis sint facere? Doloremque quisquam illo dicta
                perferendis voluptas, non molestias omnis optio ducimus suscipit corporis. Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Ipsum nemo neque debitis
                repudiandae animi non explicabo veniam voluptate sunt, optio numquam ipsa!
              </p>
            </div>
          </section>
        </div>
      </article>
    </main>
    <aside class="page__article-sidebar article-sidebar">
      <nav class="article-sidebar__nav">
        <h3 class="list__title text-h4">In this article</h3>
        <ul class="article-sidebar__list article-toc-list">
          <li class="article-toc-list__item-wrapper">
            <a href="#styles-articlest" class="article-toc-list__link">Styles</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</Layout>
