.page-overlay {
  position: fixed;
  z-index: var(--zi-overlay);
  inset: 0;

  visibility: hidden;
  opacity: 0;
  background-color: #000;

  transition: all 300ms ease;

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 0.3;
  }
}
