---
import Icon from './Icon.astro'
---

<header class="page__header page-header">
  <div class="page-header__container">
    <ul class="page-header__socials">
      <li>
        <a href="https://www.linkedin.com/in/alex-shvaba/" target="_blank">
          <Icon icon="linkedin" />
          <span class="visually-hidden">My page on Linkedin</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/shvaba-alex" target="_blank">
          <Icon icon="github" />
          <span class="visually-hidden">My page on GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</header>
