.page {
  @include text;

  min-width: var(--container-min-width);
  height: 100%;

  font-family: var(--ff-text);
  color: var(--clr-text);

  overflow-y: auto;
  scrollbar-gutter: stable;

  &__wrapper {
    height: 100%;
    display: grid;
    align-items: flex-start;
    grid-template-rows: auto 1fr auto;
  }

  &__header {
  }

  &__main-content {
  }

  &__footer {
    align-self: flex-end;
  }

  &__popups-area {
  }
}
