@mixin defineVariable($name, $value) {
  --#{$name}: #{$value};
}

@mixin defineSpaceTokens($margin, $maxIterations: 35) {
  @for $i from 0 through $maxIterations {
    @include defineVariable('s-#{$i}', rem($margin * $i));
    @include defineVariable('s-#{$i}_25', rem($margin * ($i + 0.25)));
    @include defineVariable('s-#{$i}_5', rem($margin * ($i + 0.5)));
    @include defineVariable('s-#{$i}_75', rem($margin * ($i + 0.75)));
    @include defineVariable('s-#{$i}-negative', rem($margin * $i * -1));
    @include defineVariable('s-#{$i}_25-negative', rem($margin * ($i + 0.25) * -1));
    @include defineVariable('s-#{$i}_5-negative', rem($margin * ($i + 0.5) * -1));
    @include defineVariable('s-#{$i}_75-negative', rem($margin * ($i + 0.75) * -1));
  }
}

@mixin defineSpaceTokensClasses($margin, $maxIterations: 35) {
  @for $i from 0 through $maxIterations {
    .mt-#{$i} {
      margin-top: #{rem($margin * $i)};
    }
  }

  @for $i from 0 through $maxIterations {
    .mb-#{$i} {
      margin-bottom: #{rem($margin * $i)};
    }
  }

  @for $i from 0 through $maxIterations {
    .ml-#{$i} {
      margin-left: #{rem($margin * $i)};
    }
  }

  @for $i from 0 through $maxIterations {
    .mr-#{$i} {
      margin-right: #{rem($margin * $i)};
    }
  }

  @for $i from 0 through $maxIterations {
    .mx-#{$i} {
      margin-inline: #{rem($margin * $i)};
    }
  }

  @for $i from 0 through $maxIterations {
    .my-#{$i} {
      margin-block: #{rem($margin * $i)};
    }
  }
}

@mixin defineGapClasses($margin, $maxIterations: 35) {
  @for $i from 0 through $maxIterations {
    .gap-#{$i} {
      gap: #{rem($margin * $i)};
    }
  }

  @for $i from 0 through $maxIterations {
    .column-gap-#{$i} {
      column-gap: #{rem($margin * $i)};
    }
  }

  @for $i from 0 through $maxIterations {
    .row-gap-#{$i} {
      row-gap: #{rem($margin * $i)};
    }
  }
}

@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;

  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;

  @return $result;
}

@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;

  @return $result;
}

@mixin md-pc {
  @media (max-width: $bp-pc) {
    @content;
  }
}

@mixin md-pc-min {
  @media (min-width: $bp-pc) {
    @content;
  }
}

@mixin md-laptop {
  @media (max-width: $bp-laptop) {
    @content;
  }
}

@mixin md-laptop-min {
  @media (min-width: $bp-laptop) {
    @content;
  }
}

@mixin md-tablet {
  @media (max-width: $bp-tablet) {
    @content;
  }
}

@mixin md-tablet-min {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin md-mobile-large {
  @media (max-width: $bp-mobile-large) {
    @content;
  }
}

@mixin md-mobile-large-min {
  @media (min-width: $bp-mobile-large) {
    @content;
  }
}

@mixin md-mobile-medium {
  @media (max-width: $bp-mobile-medium) {
    @content;
  }
}

@mixin md-mobile-medium-min {
  @media (min-width: $bp-mobile-medium) {
    @content;
  }
}

@mixin md-mobile-small {
  @media (max-width: $bp-mobile-medium) {
    @content;
  }
}

@mixin md-mobile-small-min {
  @media (min-width: $bp-mobile-medium) {
    @content;
  }
}

@mixin md-hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin text-h1() {
  font-size: rem(42);
  font-weight: 600;
  line-height: 120%;
}

@mixin mobile-text-h1() {
  font-size: rem(36);
}

@mixin text-h2() {
  font-size: rem(36);
  font-weight: 600;
  line-height: 120%;
}

@mixin mobile-text-h2() {
  font-size: rem(32);
}

@mixin text-h3() {
  font-size: rem(32);
  font-weight: 500;
  line-height: 120%;
}

@mixin mobile-text-h3() {
  font-size: rem(20);
}

@mixin text-h4() {
  font-size: rem(20);
  font-weight: 500;
  line-height: 120%;
}

@mixin mobile-text-h4() {
  font-size: rem(16);
}

@mixin text() {
  font-size: rem(16);
  font-weight: 400;
  line-height: 130%;
}

@mixin mobile-text() {
  font-size: rem(16);
}

@mixin small-text() {
  font-size: rem(14);
  line-height: math.div(19, 14);
}

@mixin mobile-small-text() {
  font-size: rem(12);
  line-height: math.div(16, 12);
}

@mixin small-text-2() {
  font-size: rem(7);
  line-height: math.div(10, 7);
}

@mixin text-button() {
  font-size: rem(12);
  font-weight: 700;
  line-height: math.div(16, 12);
  text-transform: uppercase;
}
